{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
    function loadSongs() {
        var directory = $("#music_dir").val();
        $.post("/admin/saveconfig/", {"songs_directory": directory}, function(response) {

            $.info("Config saved! Songs are being loaded...");
            //$.info(response.count + " new songs loaded");
        }, 'json');
    }
</script>
{% endblock %}

{% block content %}
<div style="margin-top: 20px;" class="panel panel-default">
    <div class="panel-heading panel-toggler">
        <i class="fa fa-upload"></i> Load Songs
    </div>

    <div class="panel-body">
        <input id="music_dir" name="music_dir" class="form-control" value="{% if config.songs_directory %}{{config.songs_directory}}{% else %}{{home_dir}}/Music{% endif %}">
        <button style="margin-top: 10px;" class="btn btn-primary" onclick="loadSongs()">Load Songs!</button>
    </div>
</div>
{% endblock %}