{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
    function loadSongs() {
        var directory = $("#music_dir").val();
        $.post("/admin/saveconfig/", {"songs_directory": directory}, function(response) {

            $.info("Config saved! Songs are being loaded...");
            //$.info(response.count + " new songs loaded");
        }, 'json');
    }

    function deleteAllSongs() {

        $.info("Deleting songs...");
        $.post("/admin/deleteallsongs/", {}, function(response) {
            $.info("Songs Deleted!");
            $("#delete-all-songs-modal").modal("hide");
        });
    }

    function showDeleteAllSongsModal() {

        $("#delete-all-songs-modal").modal("show");
    }
</script>
{% endblock %}

{% block content %}
<div style="margin-top: 20px;" class="panel panel-default">
    <div class="panel-heading panel-toggler">
        <i class="fa fa-upload"></i> Load Songs
    </div>

    <div class="panel-body">
        <input id="music_dir" name="music_dir" class="form-control" value="{% if config.songs_directory %}{{config.songs_directory}}{% else %}{{home_dir}}/Music{% endif %}">

        <div>
        <button style="margin-top: 10px;" class="btn btn-primary" onclick="loadSongs()"><i class="fa fa-upload"></i> Load Songs!</button>
        </div>

        <div>
        <button style="margin-top: 5px;" class="btn btn-danger" onclick="showDeleteAllSongsModal()"><i class="fa fa-trash"></i> Delete All Songs</button>
        </div>
    </div>
</div>
{% endblock %}