{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
    function loadSongs() {
        var directory = $("#music_dir").val();
        $.post("/song/load/", {"directory": directory}, function() {
            alert("Songs loaded");
        });
    }
</script>
{% endblock %}

{% block content %}
<div style="margin-top: 20px;" class="panel panel-default">
    <div class="panel-heading panel-toggler">
        <i class="fa fa-upload"></i> Load Songs
    </div>

    <div class="panel-body">
        <input id="music_dir" name="music_dir" class="form-control" value="/data/home/jm/Music">
        <button class="btn btn-primary" onclick="loadSongs()">Load Songs!</button>
    </div>
</div>
{% endblock %}