<h1 class="song-title">{% if playlist.current_song and player.is_playing %}{{playlist.current_song.name}}{% else %}Not Playing{% endif %} <em></em></h1>

<div class="song-time">{{player.get_position}}</div>
<div id="song-slider"></div>

<script type="text/javascript">
    $("#song-slider").slider({
        min: 0,
        max: {{player.get_seekable_duration}},
        values: [{{player.get_raw_position}}],
        stop: function( event, ui ) {

            var data = {"position": ui.value}
            $.post("/playlist/setposition/", data, function() {

            });
        }
    });
</script>