{% extends "base.html" %}

{% block js %}
<script src="/static/js/player.js"></script>
<script type="text/javascript">

    var playingTable = $("#play-list").DataTable({

        "autoWidth" : false,
        "processing": true,
        "serverSide": true,
        "iDisplayLength" : 50,
        "responsive": true,
        "processing": false,
        "ajax": '/playlist/playinglist/',
        "columns": [
            { "searchable": true },
            { "searchable": true },
            { "searchable": true },
            { "searchable": false }
          ],
        "searchCols": [
            {"search": "name"}
        ],
        //"rowReorder": true
    });

    playingTable.on('row-reorder', function (e, diff, edit) {

        var newData = [];
        for (var i=0; i < diff.length; i++) {

            var obj = diff[i];
            var data = {}

            data.song_id = $(obj.oldData).attr("id").replace("song-", "");
            data.new_position = obj.newPosition;
            data.old_position = obj.oldPosition;

            newData.push(data);
        }

        $.post("/playlist/bulkmovesong/", {data: JSON.stringify(newData)}, function() {

            playingTable.ajax.reload();
        });
    });


    function refreshData() {

        playingTable.ajax.reload();
        $.get("/playlist/currentsong/", {}, function(response) {
            $("#current-song-container").html(response);
        });
    }

    setInterval(function() {
        refreshData();
    }, 1000);

    function deleteFromPlaylist(song_id) {
        $.post("/playlist/delete/", {song_id: song_id}, function() {

            playingTable.ajax.reload();
        })
    }

    function moveUpOnPlaylist(button, song_id) {

        $.post("/playlist/movesong/", {song_id: song_id, direction: "up"}, function() {

            playingTable.ajax.reload();
        });
    }

    function moveDownOnPlaylist(button, song_id) {

        $.post("/playlist/movesong/", {song_id: song_id, direction: "down"}, function() {

            playingTable.ajax.reload();
        });
    }

    $(document).ready(function() {
        $("#song-volume").slider({
            min: 0,
            max: 100,
            values: [{{player.get_volume}}],
            slide: function( event, ui ) {

                var data = {"volume": ui.value}
                $.post("/playlist/setvolume/", data, function() {

                });
            },
            stop: function( event, ui ) {

                var data = {"volume": ui.value}
                $.post("/playlist/setvolume/", data, function() {

                });
            }
        });
    })
</script>
{% endblock %}

{% block content %}
<div id="player-wrapper">
    <div id="current-song-container">
    {% include "playlist/currentsong.html" %}
    </div>

    <input id="current-song" type="hidden" value="{{playlist.current_song.to_json}}">

    <!--<div class="audiojs" classname="audiojs" id="audiojs_wrapper0">
        <audio></audio>
        <div class="play-pause">
            <p class="play"></p>
            <p class="pause"></p>
            <p class="loading"></p>
            <p class="error"></p>
        </div>
        <div class="scrubber">
            <div class="progress" style="width: 100%;"></div>
            <div class="loaded" style="width: 100%;"></div>
        </div>
        <div class="time">
            <em class="played">00:00</em>/<strong class="duration">00:00</strong>
        </div>
        <div class="error-message"></div>
    </div>
    -->
</div>

{% if request.user.is_superuser %}
<br>
<button class="btn btn-primary" onclick="player.play()"><i class="fa fa-play"></i></button>
<button class="btn btn-warning" onclick="player.pause()"><i class="fa fa-pause"></i></button>
<button class="btn btn-danger" onclick="player.stop()"><i class="fa fa-stop"></i></button>
<button class="btn btn-success" onclick="player.next()"><i class="fa fa-forward"></i></button>
<button class="btn btn-success" onclick="player.previous()"><i class="fa fa-backward"></i></button>
<i style="margin-left: 5px" class="fa fa-volume-up"></i>
<div style="width: 15%; display: inline-block; position: relative; top: 2px; left: 7px" id="song-volume"></div>
{% endif %}

<div style="margin-top: 20px;" class="panel panel-default">
    <div class="panel-heading panel-toggler">
        <i class="fa fa-list"></i> Playlist
    </div>

    <div class="panel-body">
        <div>
            <table class="table table-striped table-bordered table-hover" id="play-list">
                <thead>
                    <tr>
                        <th>Song</th>
                        <th>Album</th>
                        <th>Artist</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}
